<h1>Add a User</h1>
<div class="row">
    <div class="col-md-6 col-lg-6 well">
        <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">

            <fieldset>
                <legend>Basic data</legend>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input formControlName="name" type="text" class="form-control" id="name" required>
                    <div class="alert alert-danger" *ngIf="addUserForm.controls.name.touched && !addUserForm.controls.name.valid">Name required</div>
                </div>
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input formControlName="email" type="text" class="form-control" id="email">
                    <div class="alert alert-danger" *ngIf="addUserForm.controls.email.touched && !addUserForm.controls.email.valid" (click)="logIt(email)">E-Mail Address not in valid format ...</div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input formControlName="phone" type="text" class="form-control" id="phone">
                </div>
            </fieldset>

            <fieldset formGroupName="address">
                <legend>Address</legend>
                <div class="form-group">
                    <label for="street">Street</label>
                    <input formControlName="street" type="text" class="form-control" id="street">
                </div>
                <div class="form-group">
                    <label for="suite">Suite</label>
                    <input formControlName="suite" type="text" class="form-control" id="suite">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input formControlName="city" type="text" class="form-control" id="city">
                </div>
                <div class="form-group">
                    <label for="zip">ZIP</label>
                    <input formControlName="zip" type="number" class="form-control" id="zip">
                </div>
            </fieldset>
            <button type="submit" [disabled]="!addUserForm.valid" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>