<h1> {{ title }} </h1>
<div class="row">
    <div class="col-md-6 col-lg-6 well">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <fieldset>
                <legend>Basic data</legend>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input formControlName="name" [(ngModel)]="user.name" type="text" class="form-control" id="name" required>
                    <div class="alert alert-danger" *ngIf="form.controls.name.touched && !form.controls.name.valid">Name required</div>
                </div>
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input formControlName="email" #email type="text" [(ngModel)]="user.email" class="form-control" id="email">
                    <div class="alert alert-danger" *ngIf="email.touched && !form.controls.email.valid">Email Address not in valid format ...</div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input formControlName="phone" [(ngModel)]="user.phone" type="text" class="form-control" id="phone">
                </div>
            </fieldset>

            <fieldset formGroupName="address">
                <legend>Address</legend>
                <div class="form-group">
                    <label for="street">Street</label>
                    <input formControlName="street" [(ngModel)]="user.address.street" type="text" class="form-control" id="street">
                </div>
                <div class="form-group">
                    <label for="suite">Suite</label>
                    <input formControlName="suite" [(ngModel)]="user.address.suite" type="text" class="form-control" id="suite">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input formControlName="city" [(ngModel)]="user.address.city" type="text" class="form-control" id="city">
                </div>
                <div class="form-group">
                    <label for="zip">ZIP</label>
                    <input formControlName="zip" [(ngModel)]="user.address.zip" type="number" class="form-control" id="zip">
                </div>
            </fieldset>
            <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>