<nav *ngIf="items.length > pageSize" aria-label="Page navigation">
  <ul class="pagination">
    <li [class.disabled]="currentPage == 1">
      <a (click)="previous()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li *ngFor="let page of pages" [class.active]="currentPage == page"><a (click)="changePage(page)">{{ page }}</a></li>
    <li [class.disabled]="currentPage == pages.length">
      <a (click)="next()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>